      #searchBar {
        margin-bottom: 15px;
        margin-left: 20px;
        display: flex;
        align-items: center;
      }

      #searchText {
        height: 25px;
        width: 200px;
        padding-left: 5px;
      }

      #searchText::placeholder {
        font-size: 15px;
      }

      #searchButton {
        margin-left: 10px;
        cursor: pointer;
      }